name: Disable Checking ServerName

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: modify
        run: |
          cd tailscale
          sed -i '/hi.ServerName != m.hostname/,+2d' cmd/derper/cert.go

      # 获取 Git commit SHA 前6位
      - name: Get short SHA
        id: slug
        run: echo "sha_short=$(git rev-parse --short=8 HEAD)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 构建并推送 Docker 镜像
      - name: Build and push Docker images to ghcr.io
        uses: docker/build-push-action@v6
        with:
          file: 'Dockerfile'
          platforms: |
            linux/amd64
          context: ./
          push: true
          tags: |
            ghcr.io/flxxyz/ip_derper:latest
            ghcr.io/flxxyz/ip_derper:${{ steps.slug.outputs.sha_short }}
